<html>
    <!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>test-wav</title>
        <meta name="yandex-verification" content="53bc61c7ec40e932" />
        <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css"/>
    </head>
    <body>
        <form action="/wav_io/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
        <div class = list_obj>
            <h3> Random compositions: </h3>
            {% for wav in wav_list %}
               <p><a href = "/{{wav.id}}/">{{ wav.name }}</a></p>
            {% endfor %}
        </div>
    </body>
</html>